<div class="container">
  <%= form_for(@task) do |f| %>
    <div class="form-group">
      <label>タスク名：</label>
      <%= f.text_area :title, class: 'form-control', rows: 1 %>
    </div>
    
    <div class="form-group">
      <%= f.label :priority, '優先度' %>
      <%= f.select :priority,[["緊急","緊急"],["普通","普通"]], class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>スケジュール：</label>
      <%= f.text_area :schedule, class: 'form-control', rows: 1 %>
    </div>
    
    <div class="form-group">
      <label>進捗：</label>
      <%= f.text_area :schedule, class: 'form-control', rows: 1 %>
    </div>

    <div class="form-group">
      <%= f.label :alarm, 'アラーム' %>
      <%= f.select :alarm,[["なし","なし"],["あり","あり"]], class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <label>コメント</label>
      <%= f.text_area :comment, class: 'form-control', rows: 6 %>
    </div>
    
    <div class="form-group">
      <labelメンバー：</label>
    </div>
    <%= f.submit 'タスクを登録する', class: 'btn btn-primary' %>
  <% end %>
</div>