<h1><%= @task.title %>タスク詳細</h1>
<div>
  <%= link_to 'このタスクを編集する', edit_project_task_path(@task), class: 'btn btn-warning pull-right' %>
</div>

<table class="table table-bordered">
  <tr>
    <th>タスク名</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>優先度</th>
    <td><%= @task.priority %></td>
  </tr>
  <tr>
    <th>締切</th>
    <td><%= @task.schedule %></td>
  </tr>
  <tr>
    <th>進捗</th>
    <td><%= @task.progress %></td>
  </tr>
  <tr>
    <th>アラーム</th>
    <td><%= @task.alarm %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td><%= @task.comment %></td>
  </tr>
  <tr>
    <th>担当者</th>
    <td>
      <% @taskmember_users.each do |taskmember_user| %>
        <%= taskmember_user.name %>
      <% end %>
    </td>
  </tr>
</table>