<h1><%= @project.title %>プロジェクト詳細</h1>

<table class="table table-bordered">
  <tr>
    <th>プロジェクト名</th>
    <td><%= @project.title %></td>
  </tr>
  <tr>
    <th>概要</th>
    <td><%= @project.comment %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @project.start_day %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @project.end_day %></td>
  </tr>
  <tr>
    <th>メンバー</th>
    <td>
      <% @pjmember_users.each do |pjmember_user| %>
        <%= pjmember_user.name %>
      <% end %>
    </td>
</table>

<%= link_to 'このプロジェクトを編集する', edit_project_path(@project), class: 'btn btn-warning' %>